{% extends 'base.html' %}
{% block content %}
<h2>Translation status: {{type}} </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Translation ID</th>
      <th>Target Language</th>
      <th>Original Text</th>
      {% if type == 'completed' %}
        <th> Translation </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for translation in translations %}
    <tr>
      <td>{{translation.uid}}</td>
      <td>{{translation.target_language}}</td>
      <td>{{translation.text}}</td>
      {% if type == 'completed' %}
        <td>{{translation.translated_text}}</td>
      {% endif %}
    </tr>
    {% endfor %}
{% endblock %}
